<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style(support).css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Support</title>
  </head>
  <body>
    <div class="header-top">
      <div class="container">
        <div class="nav">
          <a href="/" class="olimp-link">OLIMP</a>
          <a
            href="https://www.google.com/maps/place/TengriNews/@43.2504405,76.8835583,12z/data=!4m9!1m2!2m1!1solimpbet+kz+google+map!3m5!1s0x38836ed416b5ee8d:0xdd7837e04c48529a!8m2!3d43.217702!4d76.9441652!15sChZvbGltcGJldCBreiBnb29nbGUgbWFwIgOIAQFaDSILb2xpbXBiZXQga3qSAQxuZXdzX3NlcnZpY2U"
            class="location-link"
            >LOCATION</a
          >
          <a
            href="https://olimpbet.kz/promo/euro_cashback/en/rules.html?__cf_chl_jschl_tk__=pmd_Jb5NXucsoB9auQ12ieXYcoJWRTj5jgDcUR6S_PPNk0g-1632966097-0-gqNtZGzNAfujcnBszQ79"
            class="services-link"
            >SERVICES</a
          >
          <a
            href="https://m.facebook.com/pg/Olimpbetkz-109321057518045/community/?ref=page_internal&mt_nav=0"
            class="community-link"
            >COMMUNITY</a
          >
        </div>
      </div>
    </div>
    <div class="container">
      <div class="olimp-bet">
        <p class="olimp">OLIMP</p>
        <div class="name">
          <input
            type="text"
            placeholder="Name"
            name="mname"
            required
            class="name2"
          />
        </div>
        <div class="name">
          <input
            type="text"
            placeholder="Email"
            name="email"
            required
            class="name2"
          />
        </div>
        <div class="help">
          <input
            type="text"
            placeholder="How can we help you?"
            name="help"
            required
            class="name2"
          />
        </div>
        <div class="send-button">
          <button class="send">Send</button>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
